services:
  readme_stats:
    build: .
    container_name: readme_stats
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - $port
    healthcheck:
      test: wget --no-verbose -O - --tries=1 http://localhost:$$port/?username=$$GH_UN | grep 'GitHub Stats' || exit 1
      interval: 60m # hourly
      retries: 3
      start_interval: 1s
      start_period: 10s
      timeout: 5s
    init: true

  caddy:
    image: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    depends_on:
      - readme_stats
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro

